# If ...elif...else and dictionaries.

## boolean logic and test for ==

In [0]:
0 == 0

True

In [0]:
0 == 1

False

In [0]:
'in' == 'In'

False

In [0]:
n = 'in'
x = 'In'

print(n==x)
print(n.upper()==x.upper())

False
True

In [0]:
# not operator
n != x

False

In [0]:
x = 5
y = 6
z = 5
w = 8

x < y

True

In [0]:
# logical and - will return true if and only if all statement eval to true
x = 5
y = 6
z = 5
w = 8

x < y and z < w and y < w

True

In [0]:
# logical or - will return true if ANY statement evals to true
x = 5
y = 6
z = 5
w = 8

print(x > y or z < w)

# can string together and and or operators...
((x < y) and (z > w)) or (y < w)

True

In [0]:
# in and not methods
names = ['john', 'ella', 'jack']
print('john' in names)
'brittany' not in names

True

True

In [0]:
# set up a if...else statement
names = ['john', 'ella', 'jack', 'vy']

# set up the if...else
# can combine with and and or as well
for n in names:
  if n == 'ella':
    print('hi')
  elif n == 'jack':
    print('hello there') 
  elif n == 'john':
    print('see you')
  else: 
    print('something unexpected happened')
    print('another line of stuff')

see you
hi
hello there
something unexpected happened
another line of stuff
and something else

In [0]:
# boolean logic. 
adding = True

num = list(range(0,5))

out = 0

for n in num:
  print(n)
  if adding == True:
    out += 10
    print('add 10')
    adding = False
    
  elif adding == False:
    out *= 13
    print('mult 13')
    adding = True
    
print(out)

0
mult 13
1
add 10
2
mult 13
3
add 10
4
mult 13
1820

## Dictionaries

In [0]:
# list...index by position
names = ['john', 'ella']
names[1]

'ella'

In [0]:
# dict index by key
# store ages of people
d = {'john':41, 'ella':11}

# index by key is ok
d['john']

# index by position won't work
# d[0]

41

In [0]:
list_of_tuples = [('SD', 'padres'), ('SF', 'Giants')]
d = dict(list_of_tuples)
print(d['SF'])

Giants

In [0]:
d = dict(SD='padres', SF='giants')
d['SD']

'padres'

In [0]:
# methods associated with dicts. 
print(d)
d.clear()
print(d)

{'SD': 'padres', 'SF': 'giants'}
{}

In [0]:
d = dict(SD='padres', SF='giants')

# this will throw an error
# d['boston']

# this will return None and keep going. 
print(d.get('boston'))

None

In [0]:
print(d.keys())
print(d.values())

dict_keys(['SD', 'SF'])
dict_values(['padres', 'giants'])

In [0]:
# this will return a list of tuples with the first 
# entry in each pair being the key and the second the value
print(d.items())

dict_items([('SD', 'padres'), ('SF', 'giants')])

In [0]:
# pop, popitem...

In [0]:
# update will merge two dicts. 
d1 = {'john':41, 'ella':11}
d2 = {'jack':9, 'vy':25, 'john':28}

# update or merge the two...
d1.update(d2)
print(d1)

{'john': 28, 'ella': 11, 'jack': 9, 'vy': 25}

In [0]:
uc_enrollment = {'UCSD':28127, 'Irvine':27331, 'Merced':6815}

schools = uc_enrollment.keys()
print(schools)

num_students = uc_enrollment.values()
print(num_students)

dict_keys(['UCSD', 'Irvine', 'Merced'])
dict_values([28127, 27331, 6815])

In [0]:
# for loops with dictionaries. 
for n in num_students:
  print(n)
  
# use items to loop over key/value pairs. 
for s, n in uc_enrollment.items():
  print(s)
  print(n)

28127
27331
6815
UCSD
28127
Irvine
27331
Merced
6815

In [0]:
# more advanced use of lists (or could do variants with dicts as well)
a_simple_list = list(range(0,5))

a_weird_list = [2018, 'UCSD', a_simple_list, sum, [1,1,2,3,5,8]]

print(a_weird_list)  

print('The next item in the F sequence is: ', a_weird_list[3](a_weird_list[4][-2:]))

[2018, 'UCSD', [0, 1, 2, 3, 4], <built-in function sum>, [1, 1, 2, 3, 5, 8]]
The next item in the F sequence is:  13

# In class exercises

In [0]:
num = {'n1': [2,3,1], 'n2':[5,1,2], 'n3':[3,2,4]}

new_nums = {k: sorted(v) for k,v in num.items()}

print(new_nums)

{'n1': [1, 2, 3], 'n2': [1, 2, 5], 'n3': [2, 3, 4]}