# start of inclass for week 01
* for loops 
* list comprehensions
* the tuple data type

## first start with for loops

In [2]:
names = ['john', 'ella', 'jack']

for name in names:
  print(name)

john
ella
jack

In [7]:
names = ['john', 'ella', 'jack']

for name in names:
  print('\t'+ name.upper() + '\n')

	JOHN

	ELLA

	JACK

In [14]:
names = ['john', 'ella', 'jack']

for name in names:
  print(name.upper())
  
  
print(name.title())

JOHN
ELLA
JACK
Jack

### iterable set of numbers using the 'range' function

In [16]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [23]:
# list_num = [1, 2] 

list_num = list(range(0,6))
print(list_num)

['1', '2']

In [28]:
skip_num = list(range(0,100,10))
print(skip_num)

skip_num = list(range(100,0,-10))
print(skip_num)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

## a few more complex for loops

In [36]:
squares = []
list_num = list(range(0,6))

for number in list_num:
  squares.append(number**2)
  
print(list_num)
print(squares)

[0, 1, 2, 3, 4, 5]
[0, 1, 4, 9, 16, 25]

In [34]:
# a few basic math operations are available...
print(min(squares))
print(max(squares))
print(sum(squares))

0
25
55

## list comprehensions

In [35]:
# new_list = [expression for item in old_list]

#for element in old_list:
#    do something and put it in a new list  

list_num = list(range(0,6))

square_num = [num**2 for num in list_num]
print(square_num)

[0, 1, 4, 9, 16, 25]

In [4]:
names = ['bob', 'ella', 'jack']

first_letter = [name[0].upper() for name in names]

# print caps of first letter of each name
print(first_letter)

['B', 'E', 'J']

## slicing (indexing into lists)

In [21]:
x = list(range(0,15))

# pull the first three numbers
print(x[0:3])

# same thing
print(x[:3])

# 3rd to end
print(x[2:10])

# last element
print(x[-3])

# stepping through list of numbers
print(x[0:15:2])

# same thing
print(x[::2])

# reverse (start at begin of list, go to the end, step size of -1)
print(x[::-1])

# step based on counting from the end
print(x[-4:])

[0, 1, 2]
[0, 1, 2]
[2, 3, 4, 5, 6, 7, 8, 9]
12
[0, 2, 4, 6, 8, 10, 12, 14]
[0, 2, 4, 6, 8, 10, 12, 14]
[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[11, 12, 13, 14]

In [23]:
# looping through a slice
x = list(range(0,15))

for num in x[-4:]:
  print(num)

11
12
13
14

## use a list of numbers to index into another list

In [30]:
# make a list of numbers
x = list(range(0,3))

# make a list of names
names = ['john', 'ella', 'jack']

for num in x:
  # using our list of numbers to index into another list of something else
  print(names[num])

john
ella
jack

## views vs copies
* views share the same data
  * so changing one will change the other
* copies have independent data
  * so changing one will not affect the other

In [37]:
# view vs copy

# first create a list of numbers
x = list(range(0,3))

# create a view of the list
# if you create a view, x and y will be looking at the same data
# here if you modify y, that will also change x
y = x

print(x)
print(y)

y[0] = 10

print(x)
print(y)

# create a copy this time, which will make 
# an indepent object y that contains its own
# copy of the data in x
x = list(range(0,3))
y = x[:]

y[0] = 10

print(x)
print(y)

[0, 1, 2]
[0, 1, 2]
[10, 1, 2]
[10, 1, 2]
[0, 1, 2]
[10, 1, 2]

## tuple object type
* tuples are like lists, but there are immutable.

In [45]:
# make a tuple using () (instead of [] for a list)
new_tuple = ('john', 'ella', 'jack')

print(new_tuple[1])

# can't modify contents
# new_tuple[0] = 'bob'
# print(new_tuple)

# but you can reasign it. 
new_tuple = ('lasjkdf', 'laskjdfl', 'asdfasd')
print(new_tuple)

ella
('lasjkdf', 'laskjdfl', 'asdfasd')

## embedded loops

In [51]:
# use embedded loops to go over multiple lists (or arrays of numbers, whatever)
nums = list(range(0,5))
names = ['john', 'ella', 'jack']

# outer loop
for num in nums:
  # inner loop 
  for name in names:
    print(name)
    print(num)

john
0
ella
0
jack
0
john
1
ella
1
jack
1
john
2
ella
2
jack
2
john
3
ella
3
jack
3
john
4
ella
4
jack
4