In [1]:
print("hello python!")

hello python!

In [3]:
message = "hello python!"
print(message)

hello python!

In [8]:
message = "hello python! we'll be back next weds"
print(message)

hello python! we'll be back next weds

In [12]:
name = "joHn serencEs"
name.title()

'John Serences'

In [15]:
print(name.lower())
print(name.upper())

john serences
JOHN SERENCES

In [24]:
first_name = "john"
last_name = "serences"
full_name = first_name + " " + last_name + " was here!"
print(full_name.title())

John Serences Was Here!

In [32]:
label = "car type"
car1 = "toyota"
car2 = "honda"
print(label + "\n\t" + car1 + "\n\t" + car2)

car type
	toyota
	honda

In [37]:
name = " john "
print(name)
print(name.rstrip())
print(name.lstrip())
print(name.strip())

 john
 john
john
john

In [39]:
# assign a name
name = "jOhn"

# print a name in title format - i.e. first letter of each word in caps
# here is more info...
print(name.title())

John

In [47]:
# int date types (objects)
# integers are WHOLE numbers
x = 2
y = 3

print(x+y)
print(y-x)
print(x*y)
print(x/y) # this returns a float, or a decimal!
print(x**y)

5
1
6
0.6666666666666666
8

In [49]:
# Order of operations: PEMDAS
print(x + y*x)

# better practice is to use () for readability
print(x + (y*x))

8

In [56]:
# type casting - first int to string
year = 2019
print("this is the year: " + str(year))

# then string to an int
year = "2019"
print("In 10 years it will be: ", int(year) + 10)

this is the year: 2019
In 10 years it will be:  2029
hi there

In [83]:
# introduction to lists
names = ['john', 'ella', 'jack', 'anna']

# we start counting at 0!!!
# so this is the first name
print(names[0])

# print the last value (or last N values)in the list by 
# indexing from the end with '-'
print(names[-1])

john
anna

In [69]:

# perm sort a list in alpha order
names.sort()
print(names)

['john', 'ella', 'jack', 'anna']

AttributeError: ignored

In [86]:
# redefine names list
names = ['john', 'ella', 'jack', 'anna']

# remove items from a list
# remove first item...
del names[0]
print(names)

# pop an item - can also pass index to pop() method (e.g. pop(1))
last_name = names.pop()
print(last_name)

list_len = len(names)
print(list_len)

['ella', 'jack', 'anna']
anna
2

# start of in class

In [0]:
# in class exercises here...